@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap");

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a,
button {
  font-family: "Inter", sans-serif;
}

:root {
  --bs-primary: #18ab60; /* Your new primary color */
}

.btn-primary {
  background-color: #18ab60;
  color: black;
  border-color: #18ab60;
}
.btn-primary:hover {
  background-color: #18ab5fd8;
  color: black;
  border-color: #18ab5fd8;
}
.btn-outline-primary {
  color: black;
  border-color: #18ab60;
}
.btn-outline-primary:hover {
  background-color: #18ab5fd8;
  color: black;
  border-color: #18ab5fd8;
}

a.nav-link:hover {
  color: var(--bs-primary);
}

#hero-carousel {
  background-image: url("/images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size:cover;
}

#hero-carousel::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(24, 171, 96, 0.2); /* Adjust the alpha value for transparency */
}

/* Adjust the z-index of the inner content to appear above the overlay */
#hero-carousel .carousel-inner {
  position: relative;
  z-index: 1;
}